#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #333;
}


header {
  background-color: #976225;
  padding: 1rem 0;
}

footer {
  background-color:#252524;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
}


.about, .portfolio, .resume, .contact {
  background-color: rgb(173, 170, 170);
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1919;
}

section {
  padding: 3rem 1rem;
  background-color: rgb(173, 170, 170);
}

li {
  list-style: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: #eee;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  margin: 1rem;
}

form input, form textarea {
  width: 80%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
